<header>
  <nav>
      <section class="nav-logo-container">
          <a href="/"><img src="../../assets/logo.png" alt="Logo de mi blog" ></a>
      </section>
      <section class="options">
          <a href="/populares">Mas populares</a>
          <a href="/proximamente">Proximamente</a>
          <a href="/descargados">Mas descargados</a>
          <a href="/agregar">Agregar</a>
      </section>
      <section class="profile-link">
          <a href="/login" >Salir</a>
      </section >
  </nav>
</header>
<router-outlet></router-outlet>

